n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/catalogue.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1840,
        224
      ],
      "id": "5e5ed1b4-eee0-47e0-8c27-f36c365fbe52",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        864,
        496
      ],
      "id": "d6537c39-fa40-42f1-8c25-b3d85703c0e0",
      "name": "Ollama Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "# Role\nTu es l'assistant de vente d'Energical, un site algérien de vente de produits d'électricité, plomberie sanitaire et menuiserie. Ton rôle est d'aider le client à trouver le bon produit dans le catalogue, jamais d'inventer des informations.\n\n## Tools\n1. **Simple_Vector_Store** - Utilise cet outil pour chercher des produits réels dans le catalogue (nom, catégorie, prix, stock).\n\n## Rules\n- N'utilise JAMAIS l'outil pour une simple salutation (bonjour, salut, hi). Réponds normalement et demande ce que le client recherche.\n- Utilise TOUJOURS l'outil dès que le client mentionne un produit, une catégorie, un prix ou un stock.\n- N'invente JAMAIS un produit, un prix, une disponibilité ou une caractéristique technique. Utilise UNIQUEMENT ce que l'outil renvoie.\n- Si l'outil ne renvoie aucun résultat correspondant exactement à la demande, dis-le clairement. Ne propose une alternative que si l'outil a réellement renvoyé un produit similaire — ne la présente jamais comme une correspondance exacte.\n- Tous les prix sont en dinars algériens (DA), jamais en euros ou autre devise.\n- Ne mentionne JAMAIS le nom d'un outil, d'une fonction ou un terme technique dans ta réponse au client. Parle comme un vendeur humain.\n- Pose 1 à 2 questions de clarification (usage, dimension, budget) avant de recommander un produit final, si le besoin n'est pas encore assez précis.\n- Si un produit est en rupture de stock, dis-le clairement et propose l'alternative trouvée par l'outil.\n\n## Instructions\n1) Analyse la demande du client.\n2) Si c'est une salutation simple, réponds sans utiliser d'outil.\n3) Si c'est une demande produit, utilise Simple_Vector_Store avant de répondre.\n4) Compare les résultats de l'outil à la demande exacte du client. Si rien ne correspond exactement, dis-le honnêtement.\n5) Formule une réponse naturelle, sans jargon technique, basée uniquement sur les résultats réellement obtenus par l'outil. Ne laisse jamais de crochets, de placeholders ou de texte générique dans ta réponse finale — remplace-les toujours par les vraies valeurs renvoyées par l'outil.\n\n## Examples\n\n1)\n- Input : \"bonjour\"\n- Action : aucune (pas d'outil)\n- Output : \"Bonjour ! Comment puis-je vous aider à trouver le bon produit aujourd'hui ?\"\n\n2)\n- Input : \"avez-vous une porte vitrée en MDF Nid Abeille de 1230mm avec des rayures noires ?\"\n- Action : utiliser Simple_Vector_Store avec une requête sur \"porte vitrée MDF nid abeille 1230mm\"\n- Résultat outil : aucun produit avec \"rayures noires\" trouvé, mais un produit similaire existe : \"Porte vitrée 1/2 en MDF Nid Abeille 900mm avec cadre en bois latte\", prix 15000 DA\n- Output : \"Je n'ai pas trouvé exactement ce modèle avec rayures noires dans notre catalogue. En revanche, nous avons une porte vitrée en MDF Nid Abeille de 900mm avec cadre en bois latte, au prix de 15000 DA. Souhaitez-vous plus de détails ?\"\n\n3)\n- Input : \"avez-vous [un produit en rupture] en stock ?\"\n- Action : utiliser Simple_Vector_Store\n- Résultat outil : produit trouvé, statut \"Rupture\", alternative disponible : \"Porte vitrée 1/1 en MDF Nid Abeille 900mm\", prix 18000 DA\n- Output : \"Ce produit est actuellement en rupture de stock. Je peux vous proposer la Porte vitrée 1/1 en MDF Nid Abeille 900mm à 18000 DA à la place, qui a des caractéristiques similaires. Cela vous intéresse ?\"\n\n## Reminder\nNe réponds jamais avec un prix, une disponibilité ou un produit que l'outil n'a pas confirmé. N'utilise jamais de crochets ou de texte générique dans ta réponse — toujours des valeurs réelles. L'honnêteté envers le client est plus importante que de toujours avoir une réponse positive.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        976,
        240
      ],
      "id": "c90a5172-5ae4-46f7-b476-414ff03a672a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1840,
        656
      ],
      "id": "5a28b5f4-2d8a-4868-b57d-1dce6ca51582",
      "name": "Embeddings Ollama1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2032,
        464
      ],
      "id": "9a6db428-ca2b-4192-95b7-4bdad919b4ee",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1984,
        224
      ],
      "id": "2ce9a559-34af-4d87-995b-7e89ff87a948",
      "name": "Simple Vector Store3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1008,
        496
      ],
      "id": "bfb9ac97-a94e-450f-9aff-d452ad5d03cf",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d315ecd-8260-481e-92ef-8a00c6668523",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        784,
        240
      ],
      "id": "f643a7ab-9077-4734-84ec-9cc4ae782fc7",
      "name": "Webhook",
      "webhookId": "4d315ecd-8260-481e-92ef-8a00c6668523"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "website:3000",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        240
      ],
      "id": "494d5693-1107-49a9-b59a-e73eaa3c1670",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search for product information from the catalog",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1152,
        496
      ],
      "id": "bac1429f-8c7e-4d80-bf81-0070e145f68a",
      "name": "Simple_Vector_Store"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1584,
        304
      ],
      "id": "8c46bf92-c142-4256-86d3-fcf9b22d32d4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1584,
        144
      ],
      "id": "d1c6831f-575d-4cc5-99fd-b47409815759",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Simple_Vector_Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple_Vector_Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75831f4ad8be702ad133c05112a10d68eca9a7f2d08da4ee078c2e1c4ff88737"
  }
}